/* Pywal to GTK4/Libadwaita Color Mapping */

@define-color accent_color {color2};
@define-color accent_bg_color {color2};
@define-color accent_fg_color {background};

@define-color window_bg_color {background};
@define-color window_fg_color {foreground};

@define-color view_bg_color {background};
@define-color view_fg_color {foreground};

@define-color headerbar_bg_color {background};
@define-color headerbar_fg_color {foreground};
@define-color headerbar_border_color {color2};
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);

@define-color card_bg_color {color1};
@define-color card_fg_color {foreground};
@define-color card_shade_color rgba(0, 0, 0, 0.07);

@define-color popover_bg_color {background};
@define-color popover_fg_color {foreground};

@define-color dialog_bg_color {background};
@define-color dialog_fg_color {foreground};
