@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrains Mono", FontAwesome, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

window {
    /* 0.99 for rounded corner fix */
    background-color: alpha(@background, 0.99);
    border-radius: 10px;
    border: 3px solid @color1;
}

#input {
    background-color: @color0;
    color: @foreground;
    border: none;
    border-radius: 15px;
    padding: 12px 15px;
    margin: 20px;
    margin-bottom: 10px;
    outline: none;
}

#outer-box {
    margin: 0px 20px;
    padding-bottom: 20px;
}

#entry {
    padding: 10px;
    border-radius: 12px;
    transition: all 0.1s ease-in-out;
}

#entry:selected {
    background-color: @color2;
    color: @background;
}

#entry image {
    margin-right: 12px;
}

#text {
    color: @foreground;
}

#entry:selected #text {
    color: @background;
}
